@use "../variables.scss" as *;
* {
    font-family: $font-family-primary;
}
.font-12 {
    font-size: $font-12;
}
.font-14 {
    font-size: $font-14;
}
.font-18 {
    font-size: $font-18;
}
.font-24 {
    font-size: $font-24;
}
.font-32 {
    font-size: $font-32;
}
.font-48 {
    font-size: $font-48;
}
.font-56 {
    font-size: $font-56;
}
.text-light-gray {
    color: $shade;
}
.text-gray {
    color: $gray;
}
.text-white {
    color: $white;
}
.text-black {
    color: $black;
}
.text-blue {
    color: $primary;
}
.bg-blue{
    background-color: $primary;
}
.bg-light{
    background-color: $light;
}
.space-between-section-70 {
    padding: 70px 0;
}
