@use "../variables.scss" as *;
//student-review :-----------------------------------------
.student-review {
    .student-infoo {
        .student-review-content {
            .student-country {
                transform: translateY(-5px);
            }
        }
        .swiper-pagination {
            left: 47%;
            top: 80%;
            .swiper-pagination-bullet {
                width: 6px;
                height: 6px;
                background-color: $secondary;
                opacity: $opacity;
                margin: 0 $space6;
                &-active {
                    background-color: $primary;
                }
            }
        }
        .swiper {
            @media (max-width: $lg-breakpoint) {
                .swiper-pagination {
                    left: 40%;
                    top: 97%;
                }
            }
        }
    }
}
// faq-question :-------------------------------
.faq {
    .faq-item {
        background: transparent;
        border: $border-width-1 $border-solid $light-gray;
        margin: $space20 0;
        padding: $space16;
        border-radius: $border-radius-24;
        &.active {
            background: $primary;
            color: $white;
            .show-faq-ans {
                background: $white;
                color: $primary;
                font-weight: $font-weight-900;
            }
        }
        .faq-question {
            cursor: pointer;
            font-weight: $font-weight-700;
        }
        .faq-answer {
            display: $display-none;
            padding-top: $space10;
        }
    }
}
// animation:-------------------
.animate-on-scroll {
    opacity: 0;
    transform: translateY(50px);
    transition:
        opacity 0.8s ease-out,
        transform 0.8s ease-out;
    &.animate-on-scroll.show {
        opacity: 1;
        transform: translateY(0);
    }
}
// teacher's team:--------------
.our-staff {
    .teacher-details-box {
      .teacher-photo {
       .person-img{
        width: 366px;
       }  
          &:hover {
            transform: scale(1.05); 
            transition: all 1s ;
          }
        }
      }
    }
  
  