@use "../variables.scss" as *;
//student-review :-----------------------------------------
.student-review {
    .student-infoo {
        .student-review-content {
            .student-country {
                transform: translateY(-5px);
            }
        }
        .swiper-pagination {
            position: relative;
            bottom: 150px;
            left: 47%;
            .swiper-pagination-bullet {
                width: 6px;
                height: 6px;
                background-color: $secondary;
                opacity: 1;
                margin: 0 5px;
                &-active {
                    background-color: $primary;
                }
            }
        }
    }
    @media (max-width: 767px) {
        padding: 50px 0;
        .student-sec-title {
            padding: 25px 0;
        }
        .student-review-content {
            text-align: center;
        }
    }
}
// faq-question :-------------------------------
.faq {
    .faq-item {
        background: transparent;
        border: $border-width-1 $border-solid $secondary;
        margin: 20px 0;
        padding: 15px;
        border-radius: $border-radius-24;
        transition: background $transition;
        &.active {
            background: $primary;
            color: $white;
            .show-faq-ans {
                background: $white;
                color: $primary;
                font-weight: $font-weight-900;
            }
        }
        .faq-question {
            cursor: pointer;
            font-weight: $font-weight-700;
        }
        .faq-answer {
            display: none;
            padding-top: 10px;
        }
    }
}
// free trial:-
.free-trial {
    .trial-info {
        .email {
            width: 410px;
            padding: 15px;
            border: 0;
            border-radius: $border-radius-24;
            background-color: #f8fafe;
            outline: none;
            &::placeholder {
                color: $dark-gray;
                font-size: 18px;
            }
        }
    }
}
// footer
.footer {
    .footer-icon {
        .border-fb {
            border: $border-width-1 $border-solid $secondary;
            padding: 10px 12px;
            border-radius: $border-radius-50;
        }
        .border {
            border-radius: $border-radius-50;
            padding: 10px;
            border: $border-width-1 $border-solid $secondary;
        }
    }
}
