@use "../variables.scss" as *;

.our-staff {
    padding-top: $padding-top-50;
    position: relative;
    .intro-of-teacher {
        .person {
            font-weight: $font-weight-700;
            font-size: $font-18;
            text-transform: uppercase;
            color: $gray;
        }
        .meeting {
            font-weight: $font-weight-300;
            font-size: $font-48;
        }
    }

    .teacher-slider {
        .teacher-details-box {
            padding: 0 15px; // Add some spacing between slides

            .teacher-photo {
                .teacher-name {
                    padding-left: 20px;
                    padding-top: 20px;
                    font-weight: $font-weight-500;
                    font-size: $font-24;
                    line-height: 36px;
                }
            }
            .teacher-bg {
                padding-left: 20px;

                .teacher-position {
                    font-weight: $font-weight-300;
                    font-size: $font-18;
                    line-height: 190%;
                }
                .flag {
                    width: 34px;
                    height: 34px;
                }
            }
        }

        // Custom arrow styles
        .slick-prev,
        .slick-next {
            width: 34px;
            height: 34px;
            z-index: 1;

            &:before {
                font-size: 34px;
                color: #000; // Change to your preferred color
                opacity: 1;
            }
        }

        .slick-prev {
            left: -40px;
        }

        .slick-next {
            right: -40px;
        }
    }
}
// slick slider btn
.prev,
.next {
    padding: 3px 14px;
    background-color: transparent;
    color: $gray;
    border: 1px solid $gray;
    border-radius: $border-radius-50;
    position: absolute;
    top: -100px;
    font-size: $font-24;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
        background-color: $primary;
        color: $white;
        border-color: $primary;
    }
}
.prev {
    right: 10%;
}
.next {
    right: 5%;
}
.slick-disabled {
    opacity: 0.5;
    cursor: not-allowed;
    &:hover {
        background-color: transparent;
        color: $gray;
        border-color: $gray;
    }
}
.prev.active,
.next.active {
    background-color: $primary;
    color: $white;
    border-color: $primary;
}
