@use "../variables.scss" as *;

.our-value {
    padding-top: 100px;
    .value-title {
        .why-choose-us {
            font-weight: $font-weight-700;
            font-size: $font-14;
            text-transform: uppercase;
            color: $gray;
        }
        .value {
            font-weight: $font-weight-300;
            font-size: $font-48;
            color: $black;
        }
    }
    .our-service {
        margin: 50px 0;
        .value-box {
            .value-img {
                .service-imgs {
                    width: 80px;
                }
            }
            .value-info {
                .value-title {
                    font-weight: $font-weight-500;
                    font-size: $font-24;
                    line-height: 36px;
                }
                .value-text {
                    color: $gray;
                    font-weight: $font-weight-300;
                    font-size: $font-18;
                    line-height: 190%;
                }
            }
        }
    }
}