@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

$font-family-primary: "Mulish", sans-serif;

//Colors
$primary: #524fd5;
$white: #fff;
$gray: #666680;
$black: #000000;
$light-gray: #e8e8f6;
$bg-color: #fff5f1;
$dark-gray: #999;
$secondary: #ccc;
$light: #f8fafe;

// Spacing
$space1: 1px;
$space2: 2px;
$space4: 4px;
$space5: 5px;
$space6: 6px;

// Font size
$font-10: 10px;
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-22: 22px;
$font-24: 24px;
$font-26: 26px;
$font-28: 28px;
$font-30: 30px;
$font-32: 32px;
$font-34: 34px;
$font-36: 36px;
$font-38: 38px;
$font-40: 40px;
$font-42: 42px;
$font-44: 44px;
$font-46: 46px;
$font-48: 48px;
$font-50: 50px;
$font-52: 52px;
$font-54: 54px;
$font-56: 56px;

//Font weight
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
$font-weight-900: 900;

//border-radius
$border-radius-10: 10px;
$border-radius-12: 12px;
$border-radius-24: 24px;
$border-radius-50: 50px;
$border-radius-70: 70px;

// Border width
$border-width-1: 1px;
$border-width-2: 2px;

// Border Type
$border-solid: solid;

// Transition
$transition: 0.3s ease;
$transition-2: 2s ease;

// breakpoint
$xll-breakpoint: 1400px;
$xl-breakpoint: 1200px;
$lg-breakpoint: 992px;
$md-breakpoint: 768px;
$sm-breakpoint: 576px;
