@use "../variables.scss" as *;

/* Close Button */
.close-btn {
  background: none;
  border: none;
  color: $primary;
  font-size: $font-24;
  margin-left: auto;
  margin-right: $space30;
  margin-top: $space30;
  &:hover {
    text-decoration: underline;
  }
  @media (max-width: $sm-breakpoint) {
    font-size: $font-16;
    margin-right: $space10;
  }
}
