@use "../variables.scss" as *;
// footer
.footer {
    .footer-icon {
        .border-fb {
            border: $border-width-1 $border-solid $secondary;
            padding: $space10 $space12;
            border-radius: $border-radius-50;
        }
        .border {
            border-radius: $border-radius-50;
            padding: $space10;
            border: $border-width-1 $border-solid $secondary;
        }
    }
}
