@use "../variables.scss" as *;
  
.form-input {
    border: 0;
    border-radius: $border-radius-24;
    background-color: $light;
    outline: none;
    &::placeholder {
        color: $dark-gray;
        font-size: $font-18;
    }
}