@use "../variables.scss" as *;
.main {
    background-color: $bg-color;
    // margin: 40px;
    border-radius: $border-radius-50;
}
.header {
    .header-content {
        margin-top: 20px;
        .menu-content {
            .menu {
                font-size: $font-18;
                .nav-item {
                    .menulists {
                        list-style: none;
                        color: $gray;
                    }
                }
            }
        }
        .start-btn {
            .get-starting {
                padding: 10px 20px;
                border-radius: $border-radius-70;
                background-color: $white;
                color: $primary;
                font-weight: $font-weight-700;
                font-size: $font-14;
            }
        }
    }
}