@use "../variables.scss" as *;
.wrap-header-slider {
    background-color: $bg-color;
    margin: 40px;
    border-radius: $border-radius-50;
}
.header {
    @media (max-width: $lg-breakpoint) {
      .primary-blank{
        display: none;
      }
    }
  
}
