@use "../variables.scss" as *;
.merge-header-slider {
    background-color: $bg-color;
    margin: 40px;
    border-radius: $border-radius-50;
}
.header {
    .menu {
        .menubar {
            padding-left: 100px;
        }
    }
}
