@use "../variables.scss" as *;

.slider {
    .slider-content {
        margin-top: 100px;
        .slider-text {
            font-weight: $font-weight-300;
            font-size: $font-56;
            line-height: 126%;
            letter-spacing: $space2;

            .unique {
                font-weight: $font-weight-500;
                font-size: $font-56;
                line-height: 126%;
                color: $primary;
            }
        }

        .slider-info {
            margin: 40px 0;
            font-weight: $font-weight-300;
            font-size: $font-18;
            line-height: 190%;
            color: $gray;
        }
        .slider-btn {
            border-radius: $border-radius-70;
            padding-top: 24px;
            padding-right: 32px;
            padding-bottom: 24px;
            padding-left: 32px;
            font-weight: $font-weight-700;
            font-size: $font-18;
            line-height: 100%;
            color: $white;
            background-color: $primary;
        }
    }
}