@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
.wrap-header-slider {
  background-color: #fff5f1;
  margin: 40px;
  border-radius: 50px;
}

@media (max-width: 992px) {
  .header .primary-blank {
    display: none;
  }
}

.primary-fill-btn,
.trial-form-btn {
  background-color: #524fd5;
  color: #fff;
  border-radius: 70px;
}
.primary-fill-btn:hover,
.trial-form-btn:hover {
  opacity: 1;
  cursor: pointer;
}
.primary-fill-btn:active,
.trial-form-btn:active {
  transform: scale(1);
}

.primary-blank-btn {
  background-color: #fff;
  color: #524fd5;
  border-radius: 70px;
}
.primary-blank-btn:hover {
  background-color: rgba(82, 79, 213, 0.1);
  cursor: pointer;
}
.primary-blank-btn:active {
  transform: scale(1);
}

.slider-action-btn {
  padding: 8px 16px;
  background-color: transparent;
  color: #e8e8f6;
  border: 1px solid #e8e8f6;
  border-radius: 50px;
  position: absolute;
  top: -100px;
  transition: all 0.3s ease;
}
.slider-action-btn:hover, .slider-action-btn:focus {
  background-color: #524fd5;
  color: #fff;
  border-color: #524fd5;
  cursor: pointer;
}
.slider-action-btn:active {
  transform: scale(0.95);
}
.slider-action-btn.prev {
  right: 14%;
}
.slider-action-btn.next {
  right: 10%;
}

.show-faq-ans {
  background-color: #524fd5;
  color: #fff;
  border-radius: 50px;
  width: 24px;
  border: 0;
  height: 24px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.show-faq-ans:hover {
  opacity: 0.9;
  cursor: pointer;
}
.show-faq-ans:active {
  transform: scale(0.95);
}

.form-input {
  border: 0;
  border-radius: 24px;
  background-color: #f8fafe;
  outline: none;
}
.form-input::placeholder {
  color: #999;
  font-size: 18px;
}

.footer .footer-icon .border-fb {
  border: 1px solid #ccc;
  padding: 10px 12px;
  border-radius: 50px;
}
.footer .footer-icon .border {
  border-radius: 50px;
  padding: 10px;
  border: 1px solid #ccc;
}

* {
  font-family: "Mulish", sans-serif;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-18 {
  font-size: 18px;
}

.font-24 {
  font-size: 24px;
}

.font-32 {
  font-size: 32px;
}

.font-48 {
  font-size: 48px;
}

.font-56 {
  font-size: 56px;
}

.text-light-gray {
  color: #b0b0c0;
}

.text-gray {
  color: #666680;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #181b32;
}

.text-blue {
  color: #524fd5;
}

.bg-blue {
  background-color: #524fd5;
}

.bg-light {
  background-color: #f8fafe;
}

.space-between-section-70 {
  padding: 70px 0;
}

.student-review .student-infoo .student-review-content .student-country {
  transform: translateY(-5px);
}
.student-review .student-infoo .swiper-pagination {
  left: 47%;
  top: 80%;
}
.student-review .student-infoo .swiper-pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: #ccc;
  opacity: 1;
  margin: 0 6px;
}
.student-review .student-infoo .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #524fd5;
}
@media (max-width: 992px) {
  .student-review .student-infoo .swiper .swiper-pagination {
    left: 40%;
    top: 97%;
  }
}

.faq .faq-item {
  background: transparent;
  border: 1px solid #e8e8f6;
  margin: 20px 0;
  padding: 16px;
  border-radius: 24px;
}
.faq .faq-item.active {
  background: #524fd5;
  color: #fff;
}
.faq .faq-item.active .show-faq-ans {
  background: #fff;
  color: #524fd5;
  font-weight: 900;
}
.faq .faq-item .faq-question {
  cursor: pointer;
  font-weight: 700;
}
.faq .faq-item .faq-answer {
  display: none;
  padding-top: 10px;
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.animate-on-scroll.animate-on-scroll.show {
  opacity: 1;
  transform: translateY(0);
}

.our-staff .teacher-details-box .teacher-photo .person-img {
  width: 366px;
}
.our-staff .teacher-details-box .teacher-photo:hover {
  transform: scale(1.05);
  transition: all 1s;
}

/*# sourceMappingURL=style.css.map */
